# Biqu Hurakan klipper config
# Documentation: https://github.com/bigtreetech/BIQU-Hurakan

# This file contains common pin mappings for the BIGTREETECH Manta M4P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.

# The first thing you'll need to do is go through this file and comment out / uncomment 
# the files and/or settings you need.
# You'll be able to print just fine with this config as it is, but it is recommended
# that you follow these steps to properly calibrate your printer:
# 0) Sanity check and PID Tuning: https://www.klipper3d.org/Config_checks.html (For PID you can use the macros present in the system)
# 1) Pressure Advance: https://www.klipper3d.org/Pressure_Advance.html
# 2) Resonance Compensation: https://github.com/bigtreetech/BIQU-Hurakan/blob/main/Hurakan%20User%20Manual.pdf (Page 45)

# Read more about klipper here: https://www.klipper3d.org/Overview.html

#############################################################################################################
### BASE CONFIG
### Do not change this section unless you know exactly how to proceed.
#############################################################################################################
[include Hurakan/Manta_M4P.cfg]
[include Hurakan/Hurakan.cfg]
[include Hurakan/Steppers.cfg]
[include Hurakan/Probe.cfg]
[include Hurakan/Macros.cfg]
[include Hurakan/Display.cfg]
[include print_area_bed_mesh.cfg]
[include OrbiterSensor.cfg]

#############################################################################################################
### DRIVERS CONFIG
### Uncoment the line matching the drivers you are using (stock is TMC2209.cfg).
#############################################################################################################
[include Hurakan/TMC2209.cfg]
#[include Hurakan/TMC5160.cfg]

#############################################################################################################
### INPUT SHAPER CONFIG
### Uncoment this line if you want to test resonances.
#############################################################################################################
[include Hurakan/Adxl.cfg]

#############################################################################################################
### Z PROBE OFFSET
### Set your probe offset value.
#############################################################################################################
[probe]
#z_offset: 2.6

#############################################################################################################
### MCU CONFIGURATION
### If needed, check your with ls /dev/serial/by-id/* with any SSH software.
### Username: biqu
### password: biqu
#############################################################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_hurakan-if00

[force_move]
enable_force_move: True

#############################################################################################################
### PRINTER CONFIGURATION
### Do not change this section unless you know exactly how to proceed.
############################################################################################################
[extruder]

## Orbiter
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
pressure_advance: 0.025 #to be calibrated
pressure_advance_smooth_time: 0.03 #to be calibrated
min_extrude_temp: 180
# gear_ratio: 
max_extrude_only_accel: 3000 # max 8000
max_extrude_cross_section: 50.0

## Stock
# rotation_distance: 22.9
# pressure_advance: 0.4
# nozzle_diameter: 0.400
# filament_diameter: 1.750
heater_pin: e0_heater_pin
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: e0_sensor_pin
#control: pid
#pid_Kp: 17.915
#pid_Kd: 106.145
#pid_Ki: 0.756
min_temp: 0
max_temp: 275
# min_extrude_temp: 170
# max_extrude_only_accel: 10000
# max_extrude_only_distance: 400.0
# max_extrude_cross_section: 50.0
# pressure_advance_smooth_time: 0.03

[heater_bed]
heater_pin: heater_bed_heating_pin
sensor_type: Generic 3950
sensor_pin: heater_bed_sensor_pin
#control: pid
#pid_Kp: 68.545
#pid_Kd: 627.184
#pid_Ki: 1.873
min_temp: 0
max_temp: 120

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5.0

[gcode_macro M900]
gcode:
  {% set k_value = params.K|default(0) %}
  SET_PRESSURE_ADVANCE ADVANCE={k_value}

#[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 94.0
#shaper_type_y = 2hump_ei
#shaper_freq_y = 66.8

#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or base configuration you want to override, do it here.
#############################################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.040
#*# pid_ki = 3.337
#*# pid_kd = 114.192
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.438
#*# pid_ki = 2.615
#*# pid_kd = 460.895
#*#
#*# [probe]
#*# z_offset = 2.090
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.045000, 0.131250, 0.096250, 0.085000
#*# 	-0.030000, 0.065000, 0.042500, 0.016250
#*# 	-0.018750, 0.028750, -0.037500, -0.040000
#*# 	-0.062500, -0.038750, -0.111250, -0.115000
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 199.97
#*# min_y = 45.0
#*# max_y = 180.0
#*#
#*# [input_shaper]
#*# shaper_type_y = mzv
#*# shaper_freq_y = 35.6
#*# shaper_type_x = mzv
#*# shaper_freq_x = 67.4
